.col-right {
  padding: 0 10px;
  flex: 1;
  min-width: 300px;

  h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
  }
}

.customers {
  border-collapse: collapse;
  width: 100%;

  td {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 100px;
    text-align: center;
  }

  th {
    border: 1px solid #ddd;
    border-top: none;
    padding: 8px;
    min-width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #6364a7;
    color: white;

    &:first-child {
      border-left: none;
      border-radius: 13px 0 0 0;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 13px 0 0;
    }
  }

  tr {
    &:nth-child(even) {
      background: #f2f2f2;
    }

    td:nth-last-child(-n + 2) {
      text-align: center;
    }
  }

  i {
    cursor: pointer;
  }

  .fa-check {
    font-size: 20px;
    color: green;
  }

  .fa-times {
    color: red;
  }

  .fa-edit {
    padding: 7px;
    color: #ffa500;
    font-size: 20px;
  }

  .fa-trash-alt {
    padding: 7px;
    color: red;
    font-size: 20px;
    margin-left: 7px;
  }
}
