.home {
  h2 {
    width: 600px;
    margin: 10px auto 60px !important;
    text-align: center;
    font-size: 2rem;
    color: #667eea;
  }

  .carousel-item {
    height: 340px;
  }

  // .slick-dots {
  //   padding: 10px;
  //   transform: translateY(30px);

  //   background: #6364a7;
  // }
}
