.ant-notification-notice-error {
  background-color: #fff2f0 !important;
  border: 1px solid #ff654d;
}

.ant-notification-notice-success {
  background-color: #f6ffed !important;
  border: 1px solid #80ff00;
}
